<div class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">

      <h2>Qu'est-ce qu'un cookie ?</h2>

      <ul>
        Non, il ne s’agit bien évidemment pas des biscuits (malheureusement). Les cookies sont des fichiers textes contenant une petite quantité d’informations permettant à notre site de reconnaître votre appareil. Ils sont téléchargés sur votre appareil si vous l’acceptez lorsque vous visitez un site Internet. Les cookies sont ensuite renvoyés au site Internet à chaque visite, ou à un autre site Internet qui identifie le cookie.

        Les cookies sont utiles car ils permettent aux sites Internet de reconnaître l’appareil d’un utilisateur. Ils sont largement utilisés pour optimiser les sites Internet, vous permettre de naviguer d’une page à l’autre, de se souvenir de vos préférences et d’améliorer votre expérience globale en tant qu’utilisateur. Ils peuvent également permettre de vous proposer des publicités en ligne plus ciblées en fonction de vos centres d’intérêt.

        Les cookies ne contiennent aucune information confidentielle, telles que votre adresse postale, votre numéro de téléphone ou les coordonnées de votre carte de crédit. Nous n’échangeons les cookies avec aucun site Internet tiers.

        À moins d’avoir modifié les paramètres de votre navigateur pour qu’il refuse les cookies, notre système émettra des cookies et les téléchargera sur votre appareil lorsque vous vous connectez à notre site.
      </ul>

    </div>

  </div>
  <!-- /row -->
</div>
